h2,h3, h5, p {
  color: white;
}

.App {
 display: flex;
 flex-direction: column;
 justify-content: center;


}

.App-box{
  width:100% ;
  height: 90vh;
 
}
.App-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 60px;
  background-color: rgba(30, 35, 48, 0.5);
  z-index: 1000;
}
.App-box-img{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  margin-top: -60px;
  object-fit:cover;

  object-position: center   
}
.App-box-left{
  display: flex;
 flex-direction: column;
 position: absolute;
 top: 15%;            
 left:10%; 
}
.App-box-left-top{
  gap: 1px;
}
.App-box-left-down{

    display: flex;
    flex-direction: column; 
    align-items: flex-start;                      
    margin: 0%;
}
.App-box-left-down-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.App-down-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}
.App-box-left-down-item-h{
  border: 1px solid #303548;
  background-color: #303548;
  color: #f9ffe6;
  border-radius:20px;
  padding: 5px;
}

.App-box-right{
  display: flex;
  flex-direction: column; 
  align-items: center;      
  position: absolute;
  top: 15%;            
  right:10%; 
}
.App-down{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;                      
  z-index: 1000;
  padding-left: 80px;
  box-sizing: border-box;
  margin-top: -130px;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  background-color: rgba(30, 35, 48, 0.5);
  border: 1px solid rgba(30, 35, 48, 0.5);
  border-radius:20px;

}
.App-down-img{
  z-index: 1000;
}
@media (max-width: 400px){
  .App-box-img{
    object-position: center top
  }
  .App-down{
    margin-top: -121px;
  }
  .App-box-left{
   position: absolute;
   top: 20%;            
   left:10%; 
  }
  .App-box-right{
    position: absolute;
    top: 20%;            
    right:10%; 
  }
}
@media(min-width: 400px) and (max-width :550px){
.App-box-img{
  object-position: center 
}
.App-down{
  margin-top: -95px;
}
.App-box-left{
 position: absolute;
 top: 20%;            
 left:10%; 
}
.App-box-right{
  position: absolute;
  top: 20%;            
  right:10%; 
}
}
@media (min-width: 500px) and (max-width: 800px) {
  .App-box-img{
    object-position: center 
  }
  .App-down{
    margin-top: -84px;
  }
  .App-box-left{
   position: absolute;
   top: 20%;            
   left:10%; 
  }
  .App-box-right{
    position: absolute;
    top: 20%;            
    right:10%; 
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .App-box-img{
    object-position: center 
  }
  .App-down{
    margin-top: -70px;
  }
  .App-box-left{
   position: absolute;
   top: 20%;            
   left:10%; 
  }
  .App-box-right{
    position: absolute;
    top: 20%;            
    right:10%; 
  }
}
@media (min-width: 1000px) and (max-width: 1050px) {
  h2,h3 {
    font-size: 80px;
  }
  h5 {
    font-size: 30px;
  }
  p ,input{
    font-size: 30px;
  }
  button, input{
    font-size: 25px;
  }
  .App-down-img{
    width: 150px;
    height: auto;
  }

  .App-box-img{
    object-position: center 
  }
  .App-down{
    margin-top: -178px;
  }
  .App-box-left{
   position: absolute;
   top: 10%;            
   left:10%; 
  }
  .App-box-right{
    position: absolute;
    top: 10%;            
    right:10%; 
  }
}